html
{
    background-color: #2e2e2d;
}
h2
{
    color:white;
}
.search
{
    width:301px;
}
button[type="submit"]
{
    background-color: #7c7c7c;
    border-radius: 15px;
    width: 70px;
}
input[type=text]
 {
    background-color: #2e2e2d;
    color:white;
    font-size: 18px;
    width: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
 }
input[type=text]:focus {
    width: 200%;
  }


