.search
{
    width:350px;
    padding-bottom: 20px;
}
.advanced-search
{
    background-color: #d4d4d4;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 15px;
    border-radius: 20px;
    width: 500px;
    
}
input[type=text]
 {
    background-color: white;
    color:black;
    font-size: 18px;
    border-radius: 20px;
    width: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
 }
input[type=text]:focus {
    width: 200%;
  }


